<%- include('header') %>
 <form method="GET" action="/cotacao"> 
     <input name="cotacao" placeholder="Contação dolar">
     <input name="quantidade" placeholder="Quantidade de Dolares"><br>
    <button>Converter!</button>
 </form>
 <%- include('footer') %>